
@font-face {
  font-family: 'Sarabun-Regular';
  src: url('Sarabun-Regular.eot?#iefix') format('embedded-opentype'),  url('Sarabun-Regular.woff') format('woff'), url('Sarabun-Regular.ttf')  format('truetype'), url('Sarabun-Regular.svg#Sarabun-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
